<%= content_tag :tr, id: dom_id(product), class: dom_class(product) do %>
  <td><%= link_to product.name, product %></td>
  <td><%= product.description %></td>
  <td><%= product.price %></td>
  <td>
    <%= product.quantity %>
    <% if product.quantity <= 10 %>
      <span class="badge bg-danger ms-2">Low Stock</span>
    <% end %>

    <div class="btn-group ms-2" role="group">
      <%= button_to "+", increase_quantity_product_path(product), method: :patch, form: { data: { turbo_stream: true } }, class: "btn btn-sm btn-outline-success" %>
      <%= button_to "-", decrease_quantity_product_path(product), method: :patch, form: { data: { turbo_stream: true } }, class: "btn btn-sm btn-outline-danger" %>
    </div>
  </td>
  <td>
    <% if product.image.attached? %>
      <%= image_tag product.image.variant(resize_to_limit: [80, 80]), class: "img-thumbnail" %>
    <% else %>
      <span class="text-muted">No image</span>
    <% end %>
 </td>
<% end %>
