


<div class="row">
  <div class="col-sm-6">
    <h1>Products</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_product_path, class: 'btn btn-primary' do %>
    Add New Product
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <%= search_form_for @q, url: products_path, method: :get, html: { class: 'row g-2 mb-3' } do |f| %>
    <div class="col-auto">
      <%= f.label :name_or_description_cont, "Search", class: 'form-label' %>
      <%= f.search_field :name_or_description_cont, class: 'form-control', placeholder: "Name or Description" %>
    </div>
    <div class="col-auto align-self-end">
      <%= f.submit "Search", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Image</th>
            
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <%= render partial: "product", locals: { product: product } %>
      <% end %>
    </tbody>
  </table>
</div>
