<div class="row mb-4">
  <div class="col-sm-6">
    <h1>Products</h1>
  </div>

  <div class="col-sm-6 text-end">
    <%= link_to export_products_path(format: :csv), class: "btn btn-success ms-2" do %>
      Export CSV
    <% end %>
    <%= link_to new_product_path, class: 'btn btn-primary' do %>
      Add New Product
    <% end %>
  </div>
</div>

<%= search_form_for @q, url: products_path, method: :get, html: { class: 'row g-2 mb-4' } do |f| %>
  <div class="col-auto">
    <%= f.label :name_or_description_cont, "Search", class: 'form-label' %>
    <%= f.search_field :name_or_description_cont, class: 'form-control', placeholder: "Name or Description" %>
  </div>
  <div class="col-auto align-self-end">
    <%= f.submit "Search", class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
  <% @products.each do |product| %>
    <%= render partial: "product", locals: { product: product } %>
  <% end %>
</div>
